html,body,.container-fluid,.container-fluid>.row,.container-fluid>.row>div {
    height: 100%;
}
.row>div {
    padding: 0;
}
#map {
    height: 100%;
}
body {
    background-color: rgb(17,53,82);
}
#main {
    background-color: rgba(17,53,82,0.95);
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding-top: 20px;
    font-size: 0.9em;
    line-height: 1.8em;
    em {
        color: #f8cf34;
        font-style: italic;        
    }
}
a,a:hover,a:focus {
    color: #f8cf34;
    font-weight: bold;
    font-style: normal;
}
#main h1 {
    font-size: 2.4em;
    margin-top: 0;
    margin-bottom: 5px;
}
#main h2 {
    font-size: 2.0em;
    margin-top: 0;
}
#main h3 {
    font-size: 1.6em;
    margin-top: 0;
}
     
#main h2#message1 {
    margin-top: 20px;
}
#main h3#message2 {
    margin-bottom: 20px;
}
     
a em {
    color: white !important;
}
cite {
    float: right;
    margin-top: -30px;
}
     
#content {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}
#innercontent {
    width: 100%;
    height: 450px;
    position: relative;
    top: 53px;
}
#innerinnercontent {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    height: 100%;
    line-height: 1.8em;
}
#social {
    padding: 10px;
}
#social .twitter-share-button {
    float: left;
}
#social .fb-share-button {
    float: right;
}
.cta {
    text-align: center;
    margin-top: 1.5em;
}
button {
    background-color: #f8cf34;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: bold;
}
h2.subtitle {
    float: right;
    text-align: right;
}

ol {
    li {
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    #content {
        background: none;
    }
    #mainwrap {
        height: 80%;
    }
    .tweet {
        padding-left: 0px;
    }
    #innercontent {
        height: 100%;
        top: 0;
    }
    h2.subtitle {
        display: none;
    }
       
    #innerinnercontent {
        padding: 30px;
        width: 100%;
    }
    #mapcontainer {
        height: 20%;
    }

}
