$hack-blue: rgb(31, 35, 171);
// guesstimate for now
$mobile-break: 850px;
$large-break: 1100px;
$font-family: "Lato", sans-serif;
$background-color: #fff;
$info-grey: #424242;
$button-colour: #b7b7b7;
$info-box-border-colour: #e5e5e5;
$info-box-heading-bg: #fafafa;

h1 {
  font-size: 400%;
}

h2 {
  font-size: 285.7%;
}

h3 {
  font-size: 228.5%;
}

h4 {
  font-size: 171.4%;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  font-size: 14px;
  color: $info-grey;
  line-height: 1.8;
}

a {
  color: $hack-blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.header-link {
  text-decoration: none;
}

.page-banner {
  width: 100vw;
  background-image: url(../assets/hello_world.jpg);
  background-position: center;
  background-size: cover;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: bold;
    line-height: 1.1em;
  }

  // font sizes taken from the source
  h2 {
    font-size: 228%;
  }

  h1 {
    font-size: 400%;
  }

  @media (min-width: $mobile-break) {
    background: transparent;
    position: relative;
    overflow: hidden;
    max-height: 962px;
  }
}

.page-banner__info {
  text-align: center;
  padding: 45px 20px;
  color: #fff;
  text-transform: capitalize;

  @media (min-width: $mobile-break) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-banner__info-logo {
  margin: 20px 0;
  max-width: 251px;
}

.page-banner__info-org-logos {
  width: 100%;
  max-width: 251px;
  margin-left: 25px;
  margin-right: 25px;
}

.page-banner__video {
  height: 100%;
  display: none;

  @media (min-width: $mobile-break) {
    display: block;
    overflow: hidden;
    height: 520px;
    object-fit: cover;
    width: 100%;
  }
}

.sections-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.about {
    background-color: $hack-blue;
  }

  &.event-info {
    background-image: url(../assets/towerbridge.jpg);
    background-position: center;
    background-size: cover;
    .heading {
      color: #fff;
      margin-bottom: 0;
    }

    .text {
      margin-top: 10px;
      color: #fff;
      margin-left: 30px;
      margin-right: 30px;
      
    }
  }
}

.section {
  padding: 45px 0;
  text-align: center;
  width: 90vw;

  &.explanation {
    h1 {
      font-size: 400%;
    }
  }

  &.sign-up {
    padding: 0;
  }

  &.who-we-are, &.find-out-more {
    .heading {
      color: #fff;
      margin-bottom: 0;
    }

    .text {
      margin-top: 10px;
      color: #fff;
      margin-left: 30px;
      margin-right: 30px;
      
    }
  }

  &.find-out-more {
    padding: 0;
    text-align: center;
  }

  .heading {
    color: $hack-blue;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.statistics-container {
  @media (min-width: $mobile-break) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  .statistic__heading {
    color: $info-grey;
    text-transform: uppercase;
  }

  .statistic__number {
    color: $hack-blue;
    font-size: 3.25em;
    font-weight: 300;
  }
}

.factoid-container {
  @media (min-width: $mobile-break) {
    display: flex;
    flex-wrap: wrap;
  }
}

.factoid {
  display: flex;
  text-align: left;
  padding-bottom: 24px;
  flex-basis: 50%;
}

.factoid__icon-container {
  flex-shrink: 0;
}

.factoid__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  background-color: $hack-blue;
  margin-right: 20px;
}

.factoid__heading {
  margin: 0;
  text-transform: capitalize;
  color: $hack-blue;
  font-weight: 300;
  font-size: 1.5em;
}

.factoid__text {
  line-height: 1.8;
  padding-right: 20px;
  margin-top: -0.5em;
}

.interstitial-image {
  display: block;
}

.person-container {
  @media (min-width: $mobile-break) {
    display: flex;
    justify-content: space-around;
  }
}

.person-bio {
  margin: 15px 0;
  flex-basis: 20%;
}

.person-bio__name {
  margin: 0;
}

.person-bio__text {
  text-align: left;
}

.sign-up__button {
  color: white;
  background-color: $hack-blue;
  padding: 11px;
  border: 2px solid white;
  text-decoration: none;
  display: block;
  font-size: 19px;
  
}

.find-out-more__heading {
  margin: 0;
  color: #fff;
  line-height: 1.1;
  font-weight: 300;
}

.info-boxes {
  @media (min-width: $mobile-break) {
    columns: 2;
  }

  @media (min-width: $large-break) {
    columns: 3;
  }
}

.info-box {
  border: 2px solid $info-box-border-colour;
  margin: 0 0 4px;
  display: inline-block;
}

.info-box__header {
  text-transform: uppercase;
  font-size: 124.8%;
  padding: 10px 15px;
  color: $info-grey;
  background-color: $info-box-heading-bg;
}

.info-box__text {
  border-top: 2px solid $info-box-border-colour;
  padding: 15px;
  color: #fff;
  text-align: left;

  a {
    color: #fff;
  }
}
